CustomerDetails/src/main/app/customerdetails-businessprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="mulesoft" password="kamini" database="MySQL" doc:name="MySQL Configuration"/>
    <flow name="customer-apiFlow">
        <set-session-variable variableName="queryVar" value="#[message.inboundProperties.'http.query.params']" doc:name="Set Query session variable"/>
        <logger message="#[sessionVars.queryVar.customerId]" level="INFO" doc:name="Query CustomerID Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Get count from DB">
            <db:parameterized-query><![CDATA[select * from customerdetails.customer where idcustomer = #[sessionVars.queryVar.customerId]]]></db:parameterized-query>
        </db:select>
        <logger message="#[payload]" level="INFO" doc:name="DB count Logger"/>
        <logger message="#[payload.size()]" level="INFO" doc:name="Payload Size Logger"/>
        <choice doc:name="Customer found or not">
            <when expression="#[payload.size()!=0]">
                <flow-ref name="customerFoundFlow" doc:name="customerFoundFlow"/>
            </when>
            <otherwise>
                <flow-ref name="customerNotFoundFlow" doc:name="customerNotFoundFlow"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="customerFoundFlow">
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="JSON payload Logger"/>
    </sub-flow>
    <sub-flow name="customerNotFoundFlow">
        <logger message="customer not found" level="INFO" doc:name="customer not found Logger"/>
        <set-payload value="#['{  &quot;Failure Message&quot;: &quot;Get Request expects CustomerId as input&quot;,     &quot;Status&quot;: &quot;200&quot; }']" mimeType="application/json" doc:name="Set Payload"/>
    </sub-flow>
</mule>
